.App {
  background-color: #8f8f8f;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 30vmin;
  margin: 1vh
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

.Form {
  margin: 2vh;
}